/* Write your CSS code here */
.products-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-image {
  width: 400px;
  height: 400px;
}
